.container_contestant{
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 116px;
    height: 116px;
}

.contestant_img{
    position: absolute;
    top: 58px;
    left: 58px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.container_contestant_small{
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.contestant_img_small{
    position: absolute;
    top: 25px;
    left: 25px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.container_basic{
    position: relative;
    margin: 5px;

}

.container_choix{
    position: relative;
}

.container_picto{
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.picto_div{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50px;
    left: 50px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: white;
}
.picto_img{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    left: 24px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.container_picto_seul{
    position: relative;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.container_user_mur{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.container_user_mur2{
    position: relative;
    display: flex;
    justify-content: start;
    margin: 5px;
}

.picto_seul{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 15px;
    left: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;

    background-color: transparent;
}

.prono_form{
    margin: 8px;
}


@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #62B8B1;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #E0E2E2;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
