/* The switch - the box around the slider */
.switch_like {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch_like input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider_like {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E0E2E2;
  color: #1D2020;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_like:before {
  content: "🖤";
  font-size: 12px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_like {
  background-color: #E0E2E2;
}

input:checked + .slider_like:before {
  background-color: #E0E2E2;
  content: "❤️";
  font-size: 12px;
}

input:focus + .slider_like {
  box-shadow: 0 0 1px #00B100;
}

/* Rounded sliders */
.slider_like.round {
  border-radius: 20px; /*34px devient 17*/
}

.slider_like.round:before {
  border-radius: 50%;
}

.circle_div {
  position: relative;
  display: inline-block;
  width: 30px; /*60px devient 30*/
  height: 30px; /*34px devient 17*/
}

.number_div {
  position: relative;
  display: inline-block;
  width: 30px; /*60px devient 30*/
  height: 30px; /*34px devient 17*/
}

.circle_div input {
  opacity: 0;
  width: 0;
  height: 0;
}

.count_circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #62B8B1;
  color: #E0E2E2;
}

.count_circle.round {
  border-radius: 20px; /*34px devient 17*/
}

.btn-warning3,
.btn-warning3:active {
  background-color: #E0E2E2 !important;
  background: center / 30% no-repeat url(../img/paperplane.png);
  border-color: #272B2C !important;
  color: #272B2C !important;
  width: 18%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning3:hover,
.btn-warning3:focus,
.btn-warning3.focus,
.btn-warning3.active {
  color: #272B2C !important;
  background-color: #E0E2E2 !important;
  border-color: #E0E2E2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning3.disabled,
.btn-warning3:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}

.first_circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: ##272B2C;
  border: 2px solid #00B100;
  color: #E0E2E2;
}

.last_circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: ##272B2C;
  border: 2px solid #62B8B1;
  color: #E0E2E2;
}

.middle_circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: ##272B2C;
  color: #E0E2E2;
}

.first_circle.round {
  border-radius: 20px; /*34px devient 17*/
}

.last_circle.round {
  border-radius: 20px; /*34px devient 17*/
}

.middle_circle.round {
  border-radius: 20px; /*34px devient 17*/
}