<!DOCTYPE html>
<html>
<link rel="stylesheet"          href="{{ url_for('static', filename='css/login.css') }}">

<head>
    {% include 'head.html' %}
</head>

<body style="background-color: #1D2020; height: 100%; width: 100%;">

    <div class="login_container" style="width: 80%; margin: auto;">
            <div class="dragArea row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="display: block; justify-content: center;">
                    <img src="{{ url_for('static', filename='img/icon-long.png') }}" alt="Taupe Chef Ligue" style="width: 80%; margin: auto;">
                    <br>
                    <p style="text-align: center; font-size: 20px;"><b>⚒️🧱🪚 Travaux pour la saison All Star La Légende en cours 🪚🧱⚒️</b></p>
                    <br>
                    <div style="width: 400px; display: flex; justify-content: middle; margin: auto"><img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-05/9/7/enhanced/webdr07/anigif_enhanced-14436-1431170683-6.gif?output-format=mp4"></div>
                </div>
            </div>
    </div>

</body>
</html>
